$primary: teal;
// $secondary: #ff6347;
$form-text-color: #4c4c4c;
:root{--bs-secondary-color: #4c4c4c}
@import "/node_modules/bootstrap/scss/bootstrap.scss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  margin: 0 auto;
  // text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d2022; //$dark; //#242424 //#212529 //#1d2022

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  //display: flex;
  //place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1d2022;
  color: $light;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
